<div class="container" style="margin-top: 150px">
    <br>

    <h2>Características Proyectos</h2>
    <br><br>

    <div class="mb-1">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#nuevaCaracteristicaProyectosModal">Nuevo</button>

    </div>
    <div class="shadow p-3 mb-5 bg-white rounded">
        <div id="tablaCaracteristicaProyectos"></div>
    </div>
</div>

<div class="modal fade bd-example-modal-xl" id="nuevaCaracteristicaProyectosModal" tabindex="-1" role="dialog" aria-labelledby="nuevaCaracteristicaProyectosModalModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title " id="nuevaCaracteristicaProyectosModalLabel">NUEVA CARACTERÍSTICA PROYECTOS</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-12 mx-auto ">
                    <div class="card-body">
                        <h5><b>Nueva característica</b></h5>
                        <hr />
                        <div class="row form-group">
                            <label for="Nombre_Caracteristica" class="control-label col-12 col-sm-4">Nombre</label>
                            <div class="input-group col-10 col-sm-7">
                                <input type="text" id="Nombre_Caracteristica" name="Nombre_Caracteristica" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="Detalle_Caracteristica" class="control-label col-12 col-sm-4">Detalles</label>
                            <div class="input-group col-10 col-sm-7">
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" cols="3"></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-12 col-sm-4">Estado</label>
                            <div class="input-group col-12 col-sm-2">
                                <div class="form-group">
                                    <select class="form-control" id="cmbEstadoCaracteristica">
                                        <option value="1">Activo</option>
                                        <option value="2">Inactivo</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>
</div>