<script src="~/JsViews/Index.js"></script>


<div class="container col-12">
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="row justify-content-around">

        <div class="col-md-5 col-sm-12 mt-sm-5">
            <div class="main-section">
                <div class="shadow-sm p-3 mb-5 bg-white rounded border border-secondary">
                    <div class="col-4 user-img">
                        <img src="/Imagenes/recordatorio.png" />
                    </div>

                    <div class="col-12">
                        <h3>Citas programadas</h3>
                    </div>
                    <div class="col-12" id="divAlertas">
                        <div class="alert alert-dark alert-dismissible fade show" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <span><b>Cliente:</b> AMPM</span><br>
                            <span><b>Contacto:</b> Ariana</span><br>
                            <span><b>Cita:</b> Hoy 10:00 a.m.</span><br>
                            <a href="#">Ir a detalles</a>
                        </div>
                        <div class="alert alert-dark alert-dismissible fade show" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <span><b>Cliente:</b> AMPM</span><br>
                            <span><b>Contacto:</b> Ariana</span><br>
                            <span><b>Cita:</b> Hoy 10:00 a.m.</span><br>
                            <a href="#">Ir a detalles</a>
                        </div>
                        <div class="alert alert-dark alert-dismissible fade show" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <span><b>Cliente:</b> AMPM</span><br>
                            <span><b>Contacto:</b> Ariana</span><br>
                            <span><b>Cita:</b> Hoy 10:00 a.m.</span><br>
                            <a href="#">Ir a detalles</a>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <div class="col-md-5 col-sm-12 mt-sm-5">
            <div class="main-section">
                <div class="shadow-sm p-3 mb-5 bg-white rounded border border-secondary">
                    <div class="col-4 alerta-img">
                        <img src="/Imagenes/alerta.png" />
                    </div>

                    <div class="col-12">
                        <h3>Alertas clientes</h3>
                    </div>
                    <div class="col-12" id="divRecordatorios">
                        <div class="alert alert-info alert-dismissible fade show" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <span><b>Cliente:</b> AMPM</span><br>
                            <span><b>Contacto:</b> Ariana</span><br>
                            <span><b>Cita:</b> Hoy 10:00 a.m.</span><br>
                            <a href="#">Ir a detalles</a>
                        </div>
                    </div>
                    <div class="col-12" id="divRecordatorios">
                        <div class="alert alert-info alert-dismissible fade show" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <span><b>Cliente:</b> AMPM</span><br>
                            <span><b>Contacto:</b> Ariana</span><br>
                            <span><b>Cita:</b> Hoy 10:00 a.m.</span><br>
                            <a href="#">Ir a detalles</a>
                        </div>
                    </div>
                    <div class="col-12" id="divRecordatorios">
                        <div class="alert alert-info alert-dismissible fade show" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <span><b>Cliente:</b> AMPM</span><br>
                            <span><b>Contacto:</b> Ariana</span><br>
                            <span><b>Cita:</b> Hoy 10:00 a.m.</span><br>
                            <a href="#">Ir a detalles</a>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>


</div>