<script src="~/JsViews/Usuarios.js"></script>
<div class="container" style="margin-top: 150px;">
    <br>

    <h2>Usuarios</h2>
    <br><br>

    <div class="mb-1">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#usuarioModal">Nuevo</button>

    </div>
    <div class="shadow p-3 mb-5 bg-white rounded">
        <div id="tablaUsuarios"></div>
    </div>

</div>

<div class="modal fade bd-example-modal-lg" id="usuarioModal" tabindex="-1" role="dialog" aria-labelledby="usuarioModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title " id="usuarioModalLabel">USUARIO</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-12 mx-auto ">
                    <!--Datos personales-->
                    <div class="card-body">
                        <h5><b>Datos personales</b></h5>
                        <hr />
                        <form id="frmUser">
                            <div class="row form-group">
                                <label for="Comp_Code" class="control-label col-12 col-sm-4">Identificación</label>
                                <div class="input-group col-10 col-sm-7">
                                    <input type="text" id="User_Code" name="User_Code" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="User_Name" class="control-label col-12 col-sm-4">Nombre</label>
                                <div class="input-group col-10 col-sm-7">
                                    <input type="text" class="form-control" id="User_Name" name="User_Name" maxlength="255" />
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="User_Phone" class="control-label col-12 col-sm-4">Teléfono</label>
                                <div class="input-group col-10 col-sm-7">
                                    <input type="text" class="form-control" id="User_Phone" name="User_Phone"><br>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="User_Email" class="control-label col-12 col-sm-4">Correo</label>
                                <div class="input-group col-10 col-sm-7">
                                    <input type="email" class="form-control" id="User_Email" name="User_Email">
                                    <br>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="User_Login" class="control-label col-12 col-sm-4">Usuario</label>
                                <div class="input-group col-10 col-sm-7">
                                    <input type="text" class="form-control" id="User_Login" name="User_Login">
                                    <br>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="User_password" class="control-label col-12 col-sm-4">Contraseña</label>
                                <div class="input-group col-10 col-sm-7">
                                    <input type="text" class="form-control" id="User_password" name="User_password">
                                    <br>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="control-label col-12 col-sm-4">Rol</label>
                                <div class="input-group col-12 col-sm-8">
                                    <div class="form-group">
                                        <select class="form-control" id="cmbRol">
                                            <option value="1">Usuario</option>
                                            <option value="2">Administrador</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-12 col-sm-4">Estado</label>
                                <div class="input-group col-12 col-sm-8">
                                    <div class="form-group">
                                        <select class="form-control" id="cmbStatus">
                                            <option value="1">Activo</option>
                                            <option value="0">Inactio</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>

                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button id="btnSaveUser" type="button" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>
</div>